.resizeable-canvas {
    resize: both;
    min-width: 200px;
    min-height: 200px;
    overflow: auto;
    height: 200px;
    position: relative;
}

.resizeable-canvas > * {
    position: absolute;
}
